{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the Header region.
 * - page.main_navigation: Items for the Main Navigation region.
 * - page.preface_first: Items for the Preface First region.
 * - page.preface_second: Items for the Preface Second region.
 * - page.preface_third: Items for the Preface Third region.
 * - page.highlighted: Items for the Highlighted region.
 * - sidebar_first: Items for the First Sidebar region.
 * - content_top: Items for the Content Top region.
 * - help: Items for the Help region.
 * - content: Items for the Content region.
 * - footer: Items for the Footer region.
 * - footer_first: Items for the First Bottom region.
 * - footer_second: Items for the Second Bottom region.
 * - footer_third: Items for the Third Bottom region.
 * - footer_fourth: Items for the Fourth Bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
	  <div class="row">
	    <div class="col-xs-12 nopadding">
		
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
		      <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
			</button>
			
			{% if page.header %}
			  <div id="logo">
			    {{ page.header }}
			  </div>
			{% endif %}
	      </div>
	 
		  {% if page.main_menu %}
			<div class="collapse navbar-collapse" id="navbar-main">
				{{ page.main_menu }}		 
			</div>
		  {% endif %}
		  
		</div>
	  </div>
    </div>
  </nav>
  
  {% if is_front %}
    {{ attach_library('arriaga/slider-js') }}
    {% if slideshow_display %}
      <div id="slidebox" class="flexslider">
        <ul class="slides">
          <li>
            <img src="{{ slide1_image }}"/>
            {% if slide1_head or slide1_desc %}
              <div class="flex-caption">
                <h2>{{ slide1_head|striptags }}</h2>{{ slide1_desc|striptags }}
                <a class="readmore" href="{{ slide1_url|striptags }}">{{ 'Read More'|t }}</a>
              </div>
            {% endif %}
          </li>
          <li>
            <img src="{{ slide2_image }}"/>
            {% if slide2_head or slide2_desc %}
              <div class="flex-caption">
                <h2>{{ slide2_head|striptags }}</h2>{{ slide2_desc|striptags }}
                <a class="readmore" href="{{ slide2_url|striptags }}">{{ 'Read More'|t }}</a>
              </div>
            {% endif %}
          </li>
          <li>
            <img src="{{ slide3_image  }}"/>
            {% if slide3_head or slide3_desc %}
              <div class="flex-caption">
                <h2>{{ slide3_head|striptags }}</h2>{{ slide3_desc|striptags }}
                <a class="readmore" href="{{ slide3_url|striptags }}">{{ 'Read More'|t }}</a>
              </div>
            {% endif %}
          </li>
        </ul><!-- /slides -->
        <div class="overlay"></div>
      </div>
    {% endif %}
  {% endif %}
  
  {% if page.top_first or page.top_second or page.top_third or page.top_fourth %}
    <div id="top-columns" class="animated fadeInUp">
      <div class="container">
        <div class="row">
          {% if page.top_first %}
            <div class="{{ 'top-block col-sm-' ~ top_col }}">
              {{ page.top_first }}
            </div>
          {% endif %}
          {% if page.top_second %}
            <div class="{{ 'top-block col-sm-' ~ top_col }}">
              {{ page.top_second }}
            </div>
          {% endif %}
          {% if page.top_third %}
            <div class="{{ 'top-block col-sm-' ~ top_col }}">
              {{ page.top_third }}
            </div>
          {% endif %}
		  {% if page.top_fourth %}
            <div class="{{ 'top-block col-sm-' ~ top_col }}">
              {{ page.top_fourth }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if page.highlighted %}
    <div id="highlighted-block">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {{ page.highlighted }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div id="main">
    <div class="container">
      <div class="row">
	  
        {% if page.sidebar_first and page.sidebar_second %}
          {% set main_col = 6 %}
		{% elseif page.sidebar_first or page.sidebar_second %}
		  {% set main_col = 9 %}
        {% else %}
          {% set main_col = 12 %}
        {% endif %}
		
		{% if page.sidebar_first %}
          <aside id="sidebar" class="col-xs-12 col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside> 
        {% endif %}
		
		<div class="{{ 'col-xs-12 col-sm-' ~ main_col }}">
          <section id="content" role="main" class="clearfix">
		  
			{% if show_breadcrumbs == 1 and page.breadcrumbs and  not is_front %} 
                  {{ page.breadcrumbs }}
            {% endif %}
			
			{{ messages }}
						
            {% if page.content_top %}
              <div id="content_top">
                {{ page.content_top }}
              </div>
            {% endif %}
			
            <div id="content-wrap">
              {{ page.help }}
              {{ page.content }}
            </div>
			
          </section>
        </div>
		
		{% if page.sidebar_second %}
          <aside id="sidebar" class="col-xs-12 col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside> 
        {% endif %}
		        
      </div>
    </div>
  </div>

  {% if page.bottom_first or page.bottom_second or page.bottom_third or page.bottom_fourth %}
    <div id="bottom-columns" class="animated bounce">
      <div class="container">
        <div class="row">
          {% if page.bottom_first %}
            <div class="{{ 'bottom-block col-sm-' ~ bottom_col }}">
              {{ page.bottom_first }}
            </div>
          {% endif %}
          {% if page.bottom_second %}
            <div class="{{ 'bottom-block col-sm-' ~ bottom_col }}">
              {{ page.bottom_second }}
            </div>
          {% endif %}
          {% if page.bottom_third %}
            <div class="{{ 'bottom-block col-sm-' ~ bottom_col }}">
              {{ page.bottom_third }}
            </div>
          {% endif %}
		  {% if page.bottom_fourth %}
            <div class="{{ 'bottom-block col-sm-' ~ bottom_col }}">
              {{ page.bottom_fourth }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  <footer class="site-footer">
    <div class="container">
	  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
		<div id="footer-columns">
			<div class="row">
			  {% if page.footer_first %}
				<div class="{{ 'footer-block col-sm-' ~ footer_col }}">
				  {{ page.footer_first }}
				</div>
			  {% endif %}
			  {% if page.footer_second %}
				<div class="{{ 'footer-block col-sm-' ~ footer_col }}">
				  {{ page.footer_second }}
				</div>
			  {% endif %}
			  {% if page.footer_third %}
				<div class="{{ 'footer-block col-sm-' ~ footer_col }}">
				  {{ page.footer_third }}
				</div>
			  {% endif %}
			  {% if page.footer_fourth %}
				<div class="{{ 'footer-block col-sm-' ~ footer_col }}">
				  {{ page.footer_fourth }}
				</div>
			  {% endif %}
			</div>
		</div>
	  {% endif %}

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            {% if page.footer %}
			  {{ page.footer }}
			{% endif %}
            <p>{{ "Copyright"|t }} &copy; {{ this_year }} <a href="{{ front_page }}">{{ site_name }}</a>. {{ "Theme by"|t }} <a href="http://kattio.ru" target="_blank">Katerina</a></p>
		  </div>
		  <div class="col-xs-12 col-sm-6">
		    <ul class="social-icon">
			  <li><a href="#" class="fa fa-twitter"></a></li>
			  <li><a href="#" class="fa fa-facebook"></a></li>
			  <li><a href="#" class="fa fa-dribbble"></a></li>
			  <li><a href="#" class="fa fa-instagram"></a></li>
			  <li><a href="#" class="fa fa-github"></a></li>
			</ul>
		  </div>
        </div>
      </div>
    </footer>
	
</div>
