.navbar-default {
  background: none;
  border: none;
}
.navbar {
  margin-bottom: 0;
  position: relative;
  z-index: 1000;
}
.navbar-nav {
  float: right;
}
#navbar-main a {
  display: block;
}
#navbar-main ul {
  margin: 0;
  padding: 0;
}
#navbar-main ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#navbar-main nav > ul > li > ul {
  display: none;
  margin: 7px 0;
}
#navbar-main nav > ul > li > a {
  display: block;
  padding: 10px 15px;
}
#navbar-main nav > ul > li > ul > li > a {
  display: block;
  padding: 3px 15px;
}
#navbar-main a.is-active,
#navbar-main a.active-trail {
  color: #81b441;
}
#navbar-main a:hover {
  color: #81b441;
}

@media (min-width: 768px) {
  #navbar-main {
    margin: 24px 0 6px;
  }
  #navbar-main nav > ul {
    float: right;
  }
  #navbar-main nav > ul > li {
    display: block;
	float: left;
	position: relative;   
	font-weight: bold;
  }
  #navbar-main nav > ul > li > ul {
	background-clip: padding-box;	
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	float: left;
	font-size: 14px;
	left: 0;
	list-style: none;
	margin: 2px 0 0;
	min-width: 160px;
	padding: 5px 0;
	position: absolute;
	text-align: left;
	top: 100%;	
	z-index: 1000;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    float: none;
  }	
  #navbar-main a:hover {
    background-color: #f5f5f5;
  }
  #navbar-main nav > ul {
    margin: 0 -15px;
	background: #fff;
  }
  #navbar-main nav > ul > li > ul.dropdown-menu {
	position: relative;  
	float: none;
	min-width: auto;
	border: none;
	box-shadow: none;
  }
  #navbar-main nav > ul > li > ul > li > a {
	padding: 3px 15px 3px 30px;
  }
}

.navbar-toggle {
  background: transparent !important;
  border: none;
  margin-top: 15px;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  transition: all 0.2s;
  width: 22px;
  -webkit-transition: all 0.2s; 
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #81b441;
}
.navbar-toggle .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  -ms-transform: rotate(45deg);
  -ms-transform-origin: 10% 10%;
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
  filter: alpha(opacity=0);
  opacity: 0; 
}
.navbar-toggle .icon-bar:nth-of-type(3) {  
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 10% 90%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
  filter: alpha(opacity=100);
  opacity: 1; 
}
.navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}
.caret {
  border: none;
  vertical-align: top;
  background: url('../images/angle-down.svg') left bottom no-repeat; 
  padding: 0 10px 0 0;
}
.caret:after {
 color: #252525;
 content: "\f107";
 font-family: 'FontAwesome';
 font-size: 12px;
 font-weight: normal;
}




